/* --------------------------------Body Styling ------------------*/
.search {
    margin-top: 45px; /* Adjust the margin to accommodate the fixed header */
    font-family: 'Roboto', sans-serif;
    background-color: white; /* Background color */
    padding: 3px; /* Padding for spacing */
    text-align: center;
}
.search-bar{
    margin-top: 25px

}

/* Styling for the description text */
.search p {
    font-size: 12px; /* Font size */
    margin: 10px 0; /* Adjust margin for spacing */
    color: #666; /* Text color */
}

/* Styling for the search form container */
.search-bar form {
    margin-top: 10px; /* Margin space at the top */
}

/* Styling for the search input field */
.search-bar input[type="text"] {
    width: 35%; /* Adjust the width as needed */
    padding: 10px; /* Padding for input field */
    border: 1px solid black; /* Border color and style */
}

/* Styling for the search submit button */
.search-bar input[type="submit"] {
    background-color: red; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover effect for the search submit button */
.search-bar input[type="submit"]:hover {
    background-color: #800d15; /* Hover background color */
}

/* Styling for player profile and stats images */
.player_prof_img{
    max-width: 250px;
    height: auto;
    margin: 20px;
    border: 4px solid #800d15;
    border-radius: 10px;
    
}
.stats_img {
    max-width: 500px;
    height: auto;
    margin: 10px;
    border: 4px solid #800d15;
    border-radius: 10px;
}

ul {
    list-style: none;
  }
  .list {
    width: 100%;
    background-color:#f5f5f5;
    border-radius: 0 0 5px 5px;
  }
  .list-items {
    padding: 10px 5px;
  }
  .list-items:hover {
    background-color: #cbc9c9;
  }

  .profile-box {
    font-family: Arial, sans-serif;
    background-color: #255998;
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    }

.player-info p {
    color: white;
    font-size: 15px;
    margin: 10px 0;
}

.player_heading{
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}

.player-info {
    text-align: center;
}


.image-container {
    display: flex;
    justify-content: center; /* Center-align items horizontally */
    align-items: center; /* Center-align items vertically */
    width: 50%;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
}